<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ND maths</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <!-- #C9C9C9  == gray -->
    <!-- #389ef1 === blue -->
    <!-- #282828 === dark gray -->




    <!-- ---------------------------------------------------------- LOGIN PAGES ------------------------------------------- -->

    <div id="loginpage">
        <nav id="login-nav" style=" padding: 5px 10px;">
            <div id="logo-main-cont" style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; width: fit-content;">
                <i id="login-back-btn" class="fa-solid fa-arrow-left"></i>
                <div id="logo-cont"><img src="imgs/logo2.png" alt="loading" id="logo-img"></div>
                <h2>Maths</h2>
            </div>
        </nav>

        <div id="data-store" style="display: none;">D2CO</div>

        <div id="deg-dip">
            <div id="choose-deg" class="choose-cont">
                <h2>Degree</h2>
                <ul>
                    <li id="dy1" onclick="d_fy_func()">Year 1</li>
                    <li id="dy2" onclick="d_sy_func()">Year 2</li>
                    <li id="dy3" onclick="d_ty_func()">Year 3</li>
                    <li id="dy4" onclick="d_fry_func()">Year 4</li>
                </ul>
            </div>

            <div id="choose-dip" class="choose-cont">
                <h2>Diploma</h2>
                <ul>
                    <li id="py1" onclick="p_fy_func()">Year 1</li>
                    <li id="py2" onclick="p_sy_func()">Year 2</li>
                    <li id="py3" onclick="p_ty_func()">Year 3</li>
                </ul>
            </div>
        </div>


        <div id="branch-choose">
            <h2>Branch</h2>
            <div id="choose-branch-cont">
                <li>AO</li>
                <li>CO</li>
                <li>CE</li>
                <li>ME</li>
                <li>DATA SCIENCEC</li>
            </div>
        </div>
    </div>



    <!-- ------------------------------------------------------ MAIN CONTAINER ----------------------------------------------------- -->

    <div id="main-container" style="display: none;">
        <div id="question-solution-box">
            <i class="fa-solid fa-x" id="ques_soln_cut_btn"></i>
            <a id="question-button" target="_blank" href="/">Questions</a>
            <a id="soluntion-button" target="_blank" href="/">Solution</a>
        </div>
        

        <div class="blankspace" id="menu-blankspace" ></div>
        <div class="blankspace" id="questionbox-blankspace"></div>
        <div id="menu-container" >
            <nav id="navbar">
                <div id="logo-main-cont">
                    <div id="logo-cont"><img src="imgs/logo2.png" alt="loading" id="logo-img"></div>
                    <h2>Maths</h2>
                </div>

                <div id="nav-button-cont">
                    <!-- <button id="nav-search-btn"><img src="imgs/search.png" alt="loading"></button> -->
                    <button id="nav-menu-button" ><img src="imgs/menuicon.png"
                            alt="loading"></button>
                </div>

            </nav>
            <div id="secondary-menu">
                <ul>
                    <a href="/"  id="h_classwork_btn" ><img src="imgs/classroom.png" alt="loading" >Classwork</a>
                    <a href="/" id="h_timetable_btn"><img src="imgs/timetable.png" alt="loading" >Timetables</a>
                    <a href="/" id="h_test_btn"><img src="imgs/test.png" alt="loading" >Tests</a>
                    <a href="/" id="h_book_btn"><img src="imgs/book.png" alt="loading" >Books</a>
                    <a href="/" id="h_manual_btn"><img src="imgs/manual.png" alt="loading" >Manual</a>
                    <a href="/" id="h_gallery_btn"><img src="imgs/gallery.png" alt="loading">Gallery</a>
                    <a href="/" id="about-btn"><img src="imgs/about.png" alt="loading" >About</a>
                    <a href="/" id="contact-btn"><img src="imgs/contact.png" alt="loading" >Contact</a>
                </ul>
                <div style="display: flex; flex-direction: column; align-items: center; margin: 0 auto; width: 100%;">

                <button id="change-branch" >Change Branch</button>
                <footer class="footer" id="menu-footer" style="margin-top: 5px; margin-left: 5px; margin-right: 5px; ">
                    <p>Developed by <strong>Arif Alam</strong></p>
                    <p>Diploma - CO first year</p>
                    <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                    <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                  </footer>

                </div>   
            </div>

        </div>
        <div id="homepage-container">
         
            <div id="slides_container">
                <div class="slide">
                    <img src="" alt="">

                    <div id="slideinfo">
                        <h1>
                            Impotant questions (COA)
                        </h1>
                        <p>when Angela and her friend Katherine (newcomer Olivia Marcum), disappear in the woods, only
                            to return three days later with no memory of what happened to them, it unleashes a chain of
                            events that will force Victor to confront the nadir of evil. </p>
                        <div>
                            <span id="age">Deg</span>
                            <span id="hd">CO</span>
                            <span id="catog">First year</span>
                        </div>
                        <a href="https://teraboxapp.com/s/1sF_5Bm5Bse1LCfYh7TGETw"> Read</a>
                        <!-- <button>download</button> -->

                    </div>
                </div>
                <div class="slide">
                    <img src="" alt="loading">
                    <div id="slideinfo">
                        <h1>
                            Exam timetable
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quasi vitae fugiat ab ipsa
                            animi rerum
                            similique voluptate. Voluptas excepturi suscipit deserunt similique quod ducimus ex itaque,
                            deleniti
                            cupiditate ea minus? Odit quidem odio iure delectus fuga ab </p>
                        <div>
                            <span id="age">POL</span>
                            <span id="hd">all</span>
                            <span id="catog">First year</span>
                        </div>
                        <button>Watch</button>


                    </div>
                </div>
                <div class="slide">
                    <img src="" alt="">
                    <div id="slideinfo">
                        <h1>
                            Event 2024 kalsekar
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quasi vitae fugiat ab ipsa
                            animi rerum
                            similique voluptate. Voluptas excepturi suscipit deserunt similique q</p>
                        <div>
                            <span id="age">Deg</span>
                            <span id="hd">all</span>
                            <span id="catog">second year</span>
                        </div>
                        <button>Watch</button>

                    </div>
                </div>
                <div class="slide">
                    <img src="" alt="">

                    <div id="slideinfo">
                        <h1>
                            PYQs of disploma
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas quasi vitae fugiat ab ipsa
                            animi rerum
                            similique voluptate.q</p>
                        <div>
                            <span id="age">POL</span>
                            <span id="hd">AO</span>
                            <span id="catog">second year</span>
                            <!-- <span id="lang">HIN</span> -->
                        </div>
                        <!-- <button >Watch</button>
                        <button >download</button> -->
                        <!-- <a href="/" id="viewbtn">View</a> -->
                        <a href="/" id="viewbtn">View</a>

                    </div>
                </div>

            </div>



            <div id="horizontal-menu">

                <a href="/" id="subject-btn">Subject</a>
                <a href="/" id="classwork-btn">Classwork</a>

                <a href="/" id="notice-btn">Notice</a>
                <a href="/" id="events-btn">Events</a>
                <a href="/" id="gallery-btn">Gallery</a>
                <a href="/" id="manual-btn">Manual</a>
                <a href="/" id="video-btn">Videos</a>
                <a href="/" id="form-btn">Forms</a>
            </div>

            <div id="home-pages-cont">


                <div id="subject-detail-page">

                    
                    <div id="slb-section">
                        <h2 class="sub-heading" id="slb-heading">Syllabu (2024- 25)</h2>
                        <div id="slb-btn-cont">
                            <a href="/">Maths (Basic)</a>
                            <a href="/">Maths (Applied)</a>
                        </div>
                    </div>

                    <div id="prac-cont" class="sub-primary-cont">
                        <h2  class="sub-heading" >Practice question paper</h2>
                        <div id="prac-ques-cont" class="sub-page-grid">
                            <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>
                              <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>  
                            <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>

                            

                          
                        </div>
                    </div>






                    <div id="note-cont" class="sub-primary-cont">
                        <h2  class="sub-heading" >Notes</h2>
                        <div id="notes-cont" class="sub-page-grid">
                            <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a> 
                             <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>
                              <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>  
                            <a href="/" class="prac-block">
                                <div >

                                <h3>Maths(Basic)</h3>
                                <h4>Chap - 3</h4>
                                <p>test paper</p>

                                </div>

                            </a>

                            

                          
                        </div>
                    </div>





                </div>

                <!-- SUBJECT PAGE -------------------------------------------------------------------------- -->
                <div id="subjects-page" >

                    



                    <h3>
                        Study material
                    </h3>
                    <span>A quick access features related to Diploma Computer science First Year </span>

                    <div id="subs-cont">
                        <a class="sub">
                            <div id="sub-inner-cont">

                                <img src="imgs/math.png" alt="loading">
                                <p>Maths 2</p>
                            </div>
                        </a>


                        <div class="sub">
                            <div id="sub-inner-cont" style="background-color: pink;">

                                <img src="imgs/physic.png" alt="loading">
                                <p>Physics</p>
                            </div>
                        </div>


                        <div class="sub">
                            <div id="sub-inner-cont" style="background-color: rgb(233, 241, 140);">

                                <img src="imgs/python.png" alt="loading">
                                <p>Python</p>
                            </div>
                        </div>


                        <div class="sub">
                            <div id="sub-inner-cont" style="background-color: rgb(161, 225, 151);">

                                <img src="imgs/database.png" alt="loading">
                                <p>DMS</p>
                            </div>
                        </div>


                        <div class="sub">
                            <div id="sub-inner-cont" style="background-color: rgb(206, 151, 225);">

                                <img src="imgs/chem.png" alt="loading">
                                <p>Chemistry</p>

                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                </div>


                <div id="classwork-page" >
                    <div id="class-search-cont">
                        <input type="text" onkeyup="search_class()" onkeydown="empty_input(event)" id="class-search" placeholder="Search Chapter">
                        <img src="imgs/search.png" id="class-seach-btn" alt="loading">
                    </div>

                    <div id="classwork-cont">
                        <a href="plotterpdf (1).pdf" class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </a>

                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>
                    </div>

                    <footer class="footer">
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                </div>



                <div id="events-page" >
                    <h1>Degree</h1>
                    <div id="degree-event-section" class="degree-event">

                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>


                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>



                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>



                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>
                    </div>


                    <!-- DIPLOMA ---------------------------------------------------------------- -->
                    <h1>Diploma</h1>

                    <div id="diploma-event-section" class="degree-event">

                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>


                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>



                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>



                        <div class="event-block">
                            <div id="poster-cont">
                                <img src="imgs/eventpost.jpg" alt="loading">

                                <h3>Grand Ceremony of Chief guest</h3>
                            </div>
                            <div id="event-info">

                                <p style="color: rgb(0, 0, 0);">
                                    Vanue - Degree hall
                                </p>

                                <p>
                                    <img src="imgs/student.png" alt="loading">

                                    <span>Class Mechenical &#8226; year-1</span>
                                </p>

                                <p>
                                    <img src="imgs/calendar2.png" alt="loading">
                                    <span>Starts on 9/10/24 </span>
                                    &#8226;
                                    <span>Ends on 8/10/24 </span>
                                </p>

                            </div>
                        </div>
                    </div>

                    <footer class="footer" >
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                </div>


                <!-- MANUAL BOOK PAGE ----------------------------------------------------- -->


                <div id="manual-page" >

                    <h1>Unsolved</h1>
                    <div id="unsolved-manual-section" class="manual-scroll-section">
                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>


                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>



                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>




                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>



                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>




                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>
                    </div>



                    <h1>Solved</h1>
                    <div id="solved-manual-section" class="manual-scroll-section">
                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>


                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>



                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>




                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>




                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>



                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>


                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>

                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>


                        <div class="manual-book">

                            <img src="imgs/book1.jpg" alt="">
                            <div id="manual-info">
                                <h3>
                                    Rd sharma maths manual
                                </h3>

                                <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                                <p>COA year 1</p>
                                <p>Unsolved</p>

                            </div>
                        </div>
                    </div>

                    <footer class="footer" >
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>

                </div>


                <!-- VIDEOS PAGE ----------------------------------------------------------- -->

                <div id="video-page" >
                    <div id="video-searchbar">
                        <input onkeyup="search_class_video()" onkeydown="empty_input_video(event)" type="text" id="video-search-input"  placeholder="Search subject...">
                        <img  id="video-search-btn" src="imgs/search.png" alt="loading">
                    </div>

                    <div id="videos-container">
                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>
                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>


                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>


                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>


                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>


                        <div class="video-block">
                            <img src="imgs/thumbnail.PNG" alt="loading">

                            <!-- <div> -->
                            <h3>Matrices</h3>
                            <a href="/">Watch</a>
                            <!-- </div> -->
                        </div>
                    </div>

                    <footer class="footer" >
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                </div>

                <!-- Test paper page -------------------------------------------------------------------------- -->


                <div id="test-page"  >

                    <h1>Test Papers</h1>
                    <div id="test-question-section">
                        <a href="plotterpdf (1).pdf" class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </a>

                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <a href="plotterpdf (1).pdf" class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </a>

                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <a href="plotterpdf (1).pdf" class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </a>

                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>


                        <a href="plotterpdf (1).pdf" class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </a>

                        <div class="classwork">
                            <h3>Martices</h3>
                            <hr>
                            <!-- <br> -->
                            <p>5/10/24</p>
                            <p>Sandeep wagh</p>

                            <p id="sub-head">MAT</p>
                        </div>
                    </div>

                    <footer class="footer">
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                
                </div>




                <!-- NOTICE PAGE --------------------------------------------------------- -->


                <div id="notice-page" >

                    <h1>Degree Notices</h1>
                    <div id="degree-notice-section">

                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <a href="/">
                                PDF
                            </a>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <a href="/">
                                PDF
                            </a>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>
                    </div>

                    <h1>Diploma Notices</h1>
                    <div id="diploma-notice-section">

                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>


                        <div class="notice-block">
                            <h3>Notice</h3>
                            <h4>(CO-A first year)</h4>

                            <h5>Date : 5/10/24</h5>
                            <p id="notice-discription">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ex aperiam
                                voluptatum nobis! Aspernatur consectetur tempore ut inventore error dolore laboriosam
                                eaque nihil, necessitatibus illum deserunt quam nam, esse quidem?
                            </p>

                            <button>
                                PDF
                            </button>


                        </div>
                    </div>

                    <footer class="footer">
                        <p>Developed by <strong>Arif Alam</strong></p>
                        <p>Diploma - CO first year</p>
                        <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                        <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                      </footer>
                </div>


                <!-- FORMS PAGE -------------------------------------------------------------------------- -->

                <div id="form-page" >
                    <h1>Degree</h1>

                    <div class="forms-section" id="degree-form">



                        <div class="form-block">
                            <img src="imgs/form1.jpg" alt="loading">
                            <div id="form-info">
                                <p>Diploma</p>
                                <p>Year - 1</p>
                                <p>Ao, CO, CE</p>
                                <i>Sumbit - 15/10/24</i>
                                <a href="/">read</a>
                            </div>
                        </div>

                        <div class="form-block">
                            <img src="imgs/form1.jpg" alt="loading">
                            <div id="form-info">
                                <p>Diploma</p>
                                <p>Year - 1</p>
                                <p>Ao, CO, CE</p>
                                <i>Sumbit - 15/10/24</i>
                                <a href="/">read</a>
                            </div>
                        </div>



                        <div class="form-block">
                            <img src="imgs/form1.jpg" alt="loading">
                            <div id="form-info">
                                <p>Diploma</p>
                                <p>Year - 1</p>
                                <p>Ao, CO, CE</p>
                                <i>Sumbit - 15/10/24</i>
                                <a href="/">read</a>
                            </div>
                        </div>


                        <div class="form-block">
                            <img src="imgs/form1.jpg" alt="loading">
                            <div id="form-info">
                                <p>Diploma</p>
                                <p>Year - 1</p>
                                <p>Ao, CO, CE</p>
                                <i>Sumbit - 15/10/24</i>
                                <a href="/">read</a>
                            </div>
                        </div>


                        <div class="form-block">
                            <img src="imgs/form1.jpg" alt="loading">
                            <div id="form-info">
                                <p>Diploma</p>
                                <p>Year - 1</p>
                                <p>Ao, CO, CE</p>
                                <i>Sumbit - 15/10/24</i>
                                <a href="/">read</a>
                            </div>
                        </div>


                    </div>
                   <!-- </div> -->
                   <!-- </div> -->

                <h1>Diploma</h1>
                <div class="forms-section" id="diploma-form">

                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>


                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>



                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>



                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>



                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>



                    <div class="form-block">
                        <img src="imgs/form1.jpg" alt="loading">
                        <div id="form-info">
                            <p>Diploma</p>
                            <p>Year - 1</p>
                            <p>Ao, CO, CE</p>
                            <i>Sumbit - 15/10/24</i>
                            <a href="/">read</a>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <p>Developed by <strong>Arif Alam</strong></p>
                    <p>Diploma - CO first year</p>
                    <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                    <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                  </footer>
            </div>


            <!-- TIME TABLE PAGE ------------------------------------------------------------ -->

            <div id="timetable-page" >
                <h1>Degree</h1>

                <div class="timetable-section" id="degree-timetable">
                    <div class="timetable-block">
                      <img src="imgs/timetable12.jpeg" alt="loading">

                        <div id="timetable-info">
                            <p>&#8226; Diploma</p>
                            <p>&#8226; AO</p>
                            <p>&#8226; Year - 1</p>
                            <p>&#8226; Acadmic - 2024-25</p>
                            <a href="/">OPEN</a>
                        </div>


                    </div>

                    <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>
                </div>




                <h1>Diploma</h1>

                <div class="timetable-section" id="diploma-timetable">
                    <div class="timetable-block">
                      <img src="imgs/timetable12.jpeg" alt="loading">

                        <div id="timetable-info">
                            <p>&#8226; Diploma</p>
                            <p>&#8226; AO</p>
                            <p>&#8226; Year - 1</p>
                            <p>&#8226; Acadmic - 2024-25</p>
                            <a href="/">OPEN</a>
                        </div>


                    </div>


                    <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>



                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>


                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>

                      <div class="timetable-block">
                        <img src="imgs/timetable12.jpeg" alt="loading">
  
                          <div id="timetable-info">
                              <p>&#8226; Diploma</p>
                              <p>&#8226; AO</p>
                              <p>&#8226; Year - 1</p>
                              <p>&#8226; Acadmic - 2024-25</p>
                              <a href="/">OPEN</a>
                          </div>
  
  
                      </div>
                </div>

                <footer class="footer">
                    <p>Developed by <strong>Arif Alam</strong></p>
                    <p>Diploma - CO first year</p>
                    <p>Email: <a href="mailto:arifalam5841@gmail.com">arifalam5841@gmail.com</a></p>
                    <!-- <p>&copy; 2024 [Arif alam's] – All Rights Reserved</p> -->
                  </footer>
            </div>


            <!-- BOOKS PAGE -->
             <div id="book-page" >
                <h1>Books for you</h1>
                <div id="book-container">
                    <a  href="/" class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </a>

                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>


                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>


                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>


                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>


                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>

                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>


                    <div class="book-block">

                        <img src="imgs/book1.jpg" alt="">
                        <div id="book-info">
                            <h3>
                                Rd sharma maths manual
                            </h3>

                            <p style="color: #0b57d0; font-weight: 100; margin: 10px 0;">Maths</p>
                            <p>COA year 1</p>
                            <p>Digest book</p>

                        </div>
                    </div>
                </div>
             </div>

             <!-- GALLERY --------------------------------------------------------------- -->


             <div id="gallery-page" >
                <h1>Diploma</h1>

                <div id="diploma-gallery">
                    <div class="gallery-block">
                        <h2>Sports day - 2024</h2>

                        <div id="image-slide">
                            <!-- <button id="previous-btn"><img src="" alt=""></button> -->
                            <!-- <button id="next-btn"><img src="" alt=""></button> -->
                            <img src="imgs/post1.jpg" alt="">
                            <img src="imgs/post2.jpg" alt="">
                            <img src="imgs/post3.jpg" alt="">
                            <img src="imgs/post4.jpg" alt="">
                        </div>
                    </div>
                </div>

                <h1>Degree</h1>


                <div id="degree-gallery">
                    <div class="gallery-block">
                        <h2>Sports day - 2024</h2>

                        <div id="image-slide">
                            <!-- <button id="previous-btn"><img src="" alt=""></button> -->
                            <!-- <button id="next-btn"><img src="" alt=""></button> -->
                            <img src="imgs/post1.jpg" alt="">
                            <img src="imgs/post2.jpg" alt="">
                            <img src="imgs/post3.jpg" alt="">
                            <img src="imgs/post4.jpg" alt="">
                        </div>
                    </div>
                </div>
             </div>
        </div>


    </div>

    </div>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/scripts/index.js"></script>

</html>
